.countdownContainer {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0,0,0,.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
  width: 6rem;
}

.countdownContainer > div span:first-child,
.countdownContainer > div span:last-child
 {
  border-right: 1px solid var(--gray-line);
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 .5rem;
}

.countdownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color .2s;
}

.countdownButton svg {
  margin-left: 1rem;
}

.countdownButton:not(:disabled):hover {
  background: var(--blue-dark);
}

.countdownButton:disabled {
  background: var(--green);
  color: var(--white);
  cursor: not-allowed;
  border-bottom: 5px solid var(--blue);
}

.countdownButtonActive {
  background: var(--white);
  color: var(--title);
}

.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white);
}

