
.experienceBar {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;

  background: var(--gray-line);
  position: relative;
}

.experienceBar .currentExperience {
  height: 100%;
  border-radius: 4px;
  background: var(--green);
}

.experienceBar .currentExperienceValue {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}

.experienceBar .currentExperiencePoint {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  top: 0;
  border-radius: 50%;
  background-color: var(--green);
}