.completedChallangesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-line);

  font-weight: 500;
}

.completedChallangesContainer span:first-child {
  font-size: 1.25rem;
}

.completedChallangesContainer span:last-child {
  font-size: 1.5rem;
}