:root {
  --white: #fff;
  --background: #F2F3F5;
  --gray-line: #DCDDE0;
  --text: #666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4CD66B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
}