.overlay {
  background: rgba(242, 243, 245, .8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, .05);
  text-align: center;
  position: relative;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container header label {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  z-index: 1;
}

.container header svg {
  position: absolute;
  font-size: 14rem;
  color: var(--green);
  opacity: .2;
}

.container strong {
  font-size: 2.25rem;
  color: var(--title);
}

.container p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: .25rem;
}

.container button {
  position: absolute;
  right: .5rem;
  top: .5rem;
  background: transparent;
  border: 0;
  font-size: 0;
}